@model IEnumerable<Cunstudio.Models.GoiDichVu>

@{
    ViewBag.Title = "Danh sách gói dịch vụ";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 15);
}
<main>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Danh sách gói dịch vụ</h3></div>
                <div class="card-body">
                    <input class="btn btn-primary btn-block" onclick="location.href='@Url.Action("TaoMoiGoi","QuanLyGoi")'" value="Tạo mới" />
                    @grid.GetHtml(
                             tableStyle: "gridTable",
                             headerStyle: "gridHead",
                             footerStyle: "gridFooter",
                             rowStyle: "gridRow",
                             alternatingRowStyle: "gridAltRow",
                             columns: grid.Columns(
                             grid.Column("Id_Goi", "Mã gói dịch vụ"),
                             grid.Column("TenGoi", "Tên khách hàng"),
                             grid.Column("DiaDiem", "Địa điểm chụp"),
                             grid.Column("HoTro", "Hỗ trợ"),
                             grid.Column("SoTam", "Số tấm ảnh"),
                             grid.Column("GiaTien", "Giá tiền"),
                             grid.Column(format: p => Html.ActionLink("Chỉnh Sửa", "ChinhSuaGoi", new { id = p.Id_Goi })),
                             grid.Column(format: p => Html.ActionLink("Xoá", "XoaGoi", new { id = p.Id_Goi }))
                             ))
                </div>
            </div>
        </div>
    </div>
</main>





<style>
    .gridTable {
        border: 1px solid #808080;
        width: 100%;
    }

    .gridHead {
        border: 1px solid #808080;
        background-color: lightblue;
    }

    .gridRow {
        border: 1px solid #808080;
    }

    .gridAltRow {
        border: 1px solid #808080;
    }


    .gridFooter {
        font-weight: bold;
        border: 1px solid #808080;
    }
</style>
