
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/1.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumACB","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh cho bé</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/2.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumACB","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh cho bé</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/3.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumACB","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh cho bé</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
