
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/7.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumAGD","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh gia đình</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/8.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumAGD","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh gia đình</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/9.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumAGD","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh gia đình</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
