
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/4.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumASS","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh bé sơ sinh</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/5.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumASS","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh bé sơ sinh</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-4 col-md-4">
    <div class="single_photography">
        <div class="thumb">
            <img src="~/Content/Home/img/gallery/6.jpg" alt="">
        </div>
        <a href="@Url.Action("AlbumASS","Album")" class="hover ">
            <div class="hover_inner">
                <h3>Album ảnh bé sơ sinh</h3>
                <span></span>
            </div>
        </a>
    </div>
</div>
