
@{
    ViewBag.Title = "CacGoiChup";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_5 black_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>các gói chụp</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / bradcam_area  -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="typography">
                <h1 class="mb-30">Các gói chụp cho bé</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Content/Home/img/CGC/1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <h3>Gói cơ bản</h3>
                        <ul class="unordered-list">
                            <li>Giá: 500.000đ </li>
                            <li>Địa điểm chụp: Tại nhà</li>
                            <li>Hỗ trợ: không</li>
                            <li>Sản phẩm: 30 ảnh đã chỉnh sửa đẹp</li>
                            <li>Giao toàn bộ file gốc</li>
                        </ul>
                    </div>
                </div>
                <h1 class="mb-30">    </h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Content/Home/img/CGC/2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <h3>Gói cơ bản</h3>
                        <ul class="unordered-list">
                            <li>Giá: 1.500.000đ - 3.000.000đ </li>
                            <li>Địa điểm chụp: Tại nhà, phim trường, ngoại cảnh</li>
                            <li>Hỗ trợ: concept, background, trang phục</li>
                            <li>Sản phẩm: 30 ảnh đã chỉnh sửa đẹp</li>
                            <li>Giao toàn bộ file gốc</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="typography">
                <h1 class="mb-30">Các gói chụp cho gia đình</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Content/Home/img/CGC/3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <h3>Gói cơ bản</h3>
                        <ul class="unordered-list">
                            <li>Giá: thỏa thuận </li>
                            <li>Địa điểm chụp: Tại nhà</li>
                            <li>Hỗ trợ: không</li>
                            <li>Sản phẩm: 30 ảnh đã chỉnh sửa đẹp</li>
                            <li>Giao toàn bộ file gốc</li>
                        </ul>
                    </div>
                </div>
                <h1 class="mb-30">    </h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Content/Home/img/CGC/4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <h3>Gói cơ bản</h3>
                        <ul class="unordered-list">
                            <li>Giá: thỏa thuận</li>
                            <li>Địa điểm chụp: Tại nhà, phim trường, ngoại cảnh</li>
                            <li>Hỗ trợ: concept, background, trang phục</li>
                            <li>Sản phẩm: 30 ảnh đã chỉnh sửa đẹp</li>
                            <li>Giao toàn bộ file gốc</li>
                        </ul>
                    </div>
                </div>
                <h1 class="mb-30">    </h1>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
